.menu {
  width: 220px;              /* szerokość panelu */
  background-color: #ffffff; /* tło panelu */
  border-radius: 8px;
  padding: 30px 20px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.06);
  display: flex;
  flex-direction: column;
  gap:20px;
  
}