version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: parking_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s     
      timeout: 5s      
      retries: 10      

  app:
    build: .
    container_name: parking_server
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_PASSWORD=rootpassword
    
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data: